
.single-album .album-filter{
    height: 260px;
    width: 100%;
    position: absolute;
    z-index: 5;
    opacity: 0;
    background:tomato;
    transition: .2s ease-in;
}





.white-background{
    background-color: white;
    height: 4px;
}

.album-horizontal-line{
    width: 32px;
    transition: .2s;
}

.single-album:hover .album-horizontal-line{
    width: 60px;
}




/*ipad*/
@media screen and (min-width:768px){
       
    .single-album:hover img{
        transform: scale(1.2);
         
    }     
    
    .single-album:hover .album-filter{
        opacity: .5;
        transition: .2s ease-in;
    }
}


