.audio-player {
    background-color: #333;
    border: 1px solid #333;
    display: flex;
    position: fixed;
    bottom: 0;
    z-index: 10000000;
    cursor: pointer;
    align-items: center;
    flex-direction: row;
    width: 90%;
    bottom: 0;
    color: #fff;
    padding: 0 5%;
    caret-color: transparent;
    
}
    
.audio-player img {
    height: 40px;
    width: 40px;
    border-radius: 48%;
    background-size: cover;
    margin: 4px;
}

.audio-title{    
    width: 360px;
    margin: 0 20px;
    text-overflow: ellipsis;
    white-space:nowrap;
    overflow: hidden;   
    display: block;
    white-space:nowrap;     
}

.audio-title h4{
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
}

.player-controls{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    width: 250px;
}

.scrubber {
    align-items: center;
    justify-content: center;
    flex: 3;
    display: flex;
}

progress {
    width: 50%;
    margin: 0 16px;
    border: none;
}

progress[value] {
    -webkit-appearance: none;
    appearance: none;
    background-color: white;
    color: blue;
    height: 2px;
}

progress[value]::-webkit-progress-bar {
    background-color: white;
    color: blue;
}

progress::-webkit-progress-value {
    background-color: blue;
}

.audio-player i {
    cursor: pointer;
    transition: ease-in .1s;
    justify-self: center;
    font-size: 12px;
}

.audio-player i:hover{
    color: darkorange;
    transition: ease-in .1s;
}

.play-icon {
    font-size: 18px !important;
}
